{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <main class="body__home__main">
        <div class="row my-4">
            <form class="d-flex justify-content-center">
                <input class="form-control w-50 me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </main>
{% endblock %}