<footer class="footer container-fluid">
    <div class="row">
        <div class="col-md-6 mt-4">
            <p class="footer__copyright m-0">
                &copy; <span id="yearCopyright"></span> - David Bouscarle
            </p>
        </div>
        <div class="col-md-6 mt-4">
            <ul class="footer__social m-0">
                <li class="footer__item">
                    <a class="footer__link" href="https://goo.gl/maps/NYhKusPJBv7Fgdcq5">2 Bolshaya Lubyanka Street, Moscow</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="tel:1-888-570-1015">1-888-570-1015</a>
                </li>
            </ul>
        </div>
    </div>
</footer>