{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Administation</h1>
        <p class="lead">Welcome to the administration KGB Corp. dashboard</p>
    </div>
{% endblock content %}