{% extends 'base.html.twig' %}

{% block title %}Read Full Mission{% endblock %}

{% block body %}
    <main class="body__mission__main">
        <h1>{{ mission.title }}</h1>
    </main>
{% endblock %}
